body {
    background: url("Foodback2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    background-attachment: fixed;
}

h1,
h2,
h3,
p {
    animation-duration: 5s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        width: 200%;
        margin-top: 100%;
    }
    to {
        margin-top: 0%;
        width: 100%;
    }
}

body {
    font-family: "Times New Roman", Times, serif;
    margin: auto;
    max-width: 500px;
    display: flex;
    text-align: center;
    font-size: 12pt;
    float: left;
}

h1,
h2 {
    position: relative;
    border-bottom: black solid 1px;
    margin-bottom: 0.5%;
    margin-left: 10%;
}

p {
    margin-top: 0.1px;
    margin-bottom: 0.1px;
    font-weight: bolder;
    margin-left: 10%;
    text-align: left;
}